* {
    box-sizing: border-box;
}
:root {
    /* Light mode colors */
    --main-color: #f2f1eb;
    --second-color: #eee7da;
    --button-color: #afc8ad;
    --highlight-color: #88ab8e;
    --dark-color: #333;
    --main-transition: 0.3s;

    /* Dark mode colors */
    --grey-color-dark: #444;
    --white-color-dark: #2d2d2d;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: var(--white-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight-color);
}
.page {
    background-color: var(--main-color);
    min-height: 100vh;
    display: flex;
}
/* start sidebar */
.sidebar {
    width: 17%;
    height: 100vh;
    position: fixed;
    box-shadow: 0 0 10px #33333333;
    background-color: var(--second-color);
    transition: var(--main-transition);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}
@media (max-width: 767px) {
    .sidebar {
        min-width: 35px;
        width: 10%;
        padding-bottom: 20px;
        & .mon {
            display: none;
        }
        & span {
            display: none;
        }
    }
}
.sidebar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .mon {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 25px;
        font-family: "Aref Ruqaa Ink";
    }
}
.sidebar ul li {
    width: 93%;
    text-align: center;
}
.sidebar ul li a {
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 6px;
    display: block;
    width: 100%;
    color: var(--dark-color);
}
.sidebar h3,
.sidebar h3 a {
    transition: var(--main-transition);
    color: var(--dark-color);
}
.sidebar h3:hover,
.sidebar h3 a:hover {
    color: var(--highlight-color);
    transform: scale(1.1);
}
.sidebar ul li a {
    transition: var(--main-transition);
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: var(--highlight-color);
    color: white;
}
.sidebar ul li a span {
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
}
/* end sidebar */
/* content */
.content {
    width: calc(100% - 17%);
    overflow: hidden;
    margin-left: 17%;
    flex: 1;
    & .go img {
        cursor: pointer;
        width: 50px;
        height: auto;
        display: block;
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 999;
        transition: var(--main-transition);
        transition: bottom 0.9s;
        opacity: 0;
    }
    & .intro {
        position: relative;
        background-image: url("img/moonless.jpg");
        background-size: cover;
        height: 500px;
        min-height: 100px;
        background-repeat: no-repeat;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        & h1 {
            margin-left: 25px;
            & span {
                color: var(--highlight-color);
            }
        }
        & p {
            font-size: 14px;
            margin-left: 15px;
            line-height: 1.6;
            text-transform: capitalize;
        }
    }
    & .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 20px;
        margin-left: 20px;
        margin-right: 20px;
        & > div {
            border-radius: 10px;
            background-color: white;
            padding: 15px;
        }
    }
}
@media (max-width: 767px) {
    .content {
        margin-left: 10%;
        & .wrapper {
            margin-left: 15px;
            margin-right: 15px;
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        }
    }
}
.content .wrapper > div > h3 {
    font-size: 22px;
    margin: 15px 0 20px 0px;
}
.intro > * {
    z-index: 12;
    position: relative;
}
.intro::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}
/* end content */
/* courses */
.content .wrapper > div > div > h3 {
    text-align: center;
    font-size: 17px;
    color: var(--grey-color-dark);
}
.gi ul > span {
    display: block;
    color: var(--highlight-color);
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.gi > ul .mod {
    text-transform: capitalize;
    transition: var(--main-transition);
    margin-left: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    width: fit-content;
    position: relative;
    max-height: 0;
    padding: 0;
    overflow: hidden;
}
.gi ul li.ac {
    max-height: 100px;
    padding: 5px 10px;
}
.gi ul .mod a {
    color: black;
}
.gi ul .mod::after {
    content: "";
    transition: var(--main-transition);
    position: absolute;
    left: 4px;
    top: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
}
.gi ul .mod:hover {
    margin-left: 37px;
    font-weight: bold;
    transform: scale(1.01);
    background-color: var(--highlight-color);
    padding: 5px 10px 5px;
    border-radius: 6px;
    color: white;
}
.gi ul .mod:hover a {
    color: white;
}
.gi ul .mod:hover::after {
    background-color: transparent;
}
.gi ul .mod .sub {
    font-size: 13px;
    text-transform: capitalize;
    transition: var(--main-transition);
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.gi ul .mod:hover .sub {
    max-height: 100px;
}
.gi ul .mod .sub li {
    color: white;
    font-weight: bold;
    position: relative;
    transition: var(--main-transition);
}
.gi ul .mod .sub li::after {
    content: "";
    transition: var(--main-transition);
    position: absolute;
    left: 4px;
    top: 50%;
    width: 5px;
    height: 5px;
    background-color: white;
    transform: translate(-50%, -50%);
}
.gi ul .mod .sub li:hover {
    margin-left: 5px;
}
.gi ul .mod .sub li:hover::after {
    background-color: transparent;
}
/* end courses */
